<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Admin_Login_Servlet</display-name>
    <servlet-name>Admin_Login_Servlet</servlet-name>
    <servlet-class>auth.login.controller.Admin_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login_Servlet</servlet-name>
    <url-pattern>/Admin_Login_Servlet</url-pattern>
  </servlet-mapping>
  <display-name>BumbleBee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User_Login_Servlet</display-name>
    <servlet-name>User_Login_Servlet</servlet-name>
    <servlet-class>auth.login.controller.User_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Login_Servlet</servlet-name>
    <url-pattern>/User_Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch_Loan_Servlet</display-name>
    <servlet-name>Fetch_Loan_Servlet</servlet-name>
    <servlet-class>fetch.data.controller.Fetch_Loan_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_Loan_Servlet</servlet-name>
    <url-pattern>/Fetch_Loan_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch_User_Servlet</display-name>
    <servlet-name>Fetch_User_Servlet</servlet-name>
    <servlet-class>fetch.data.controller.Fetch_User_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_User_Servlet</servlet-name>
    <url-pattern>/Fetch_User_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoanServlet</display-name>
    <servlet-name>LoanServlet</servlet-name>
    <servlet-class>reg.register.controller.LoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanServlet</servlet-name>
    <url-pattern>/LoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>reg.register.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loan</display-name>
    <servlet-name>Loan</servlet-name>
    <servlet-class>reg.register.model.Loan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loan</servlet-name>
    <url-pattern>/Loan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>reg.register.model.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
</web-app>